<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtx27FTMpNrHWEabCQaudlOehAvc4yDnw</string>
	<key>GCM_SENDER_ID</key>
	<string>634835680675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speat.appSpeat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>speat-701ea</string>
	<key>STORAGE_BUCKET</key>
	<string>speat-701ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634835680675:ios:51274859492727021dae16</string>
</dict>
</plist>